<div ng-include src="'templates/partial/header.html'"></div>

<ion-view title=''>
    <ion-content class="has-footer">
		<div class="page-content padding">
			<h2>My2Cents Privacy Policy</h2>
			<p class="text-justify">
				Welcome to my2cents.reviews ("my2cents"), owned, produced and operated by
				TwoCents Inc. Unless explicitly stated otherwise, any current,
				updated and new products and services ("Products and Services"),
				including the addition of new properties shall be subject to this
				Privacy Policy, as well as the General Terms and Conditions of Use
				("Terms and Conditions"). By using my2cents you agree to be bound by
				this Privacy Policy and the Terms and Conditions, whether or not
				you register as a user ("User" or "Fan"). Please read this Privacy
				Policy carefully. <br>
				<br> my2cents is a consumer opinion sharing website that provides
				a service to all its users to share their opinions and various
				other useful information on different products and services such
				as electronics, automobiles, movies and entertainment, restaurants,
				clothes and fashion and any other product or service the users
				might have used or experienced. Registered users can change their
				Profile information at any time and can control how other users and
				the service communicates with them. <br>
				<br> my2cents cares about online privacy. If you have any
				questions concerning this privacy policy, please email us at <b><a href="#">privacy@my2cents.reviews.</a></b>
			</p>
			<h4>INFORMATION COLLECTION AND USED BY My2Cents</h4>
			<p class="text-justify">
				my2cents collects User submitted personal information such as name,
				mailing address, email address, telephone number and age to
				authenticate Users, and to send notifications to those Users
				relating to, without limitation, the my2cents service, special events,
				contests and special offers. <br>
				<br> As is standard practice on many corporate websites, my2cents
				also logs non-personally-identifiable information including IP
				address, profile information, aggregate user data, and browser
				type, from Users and other visitors to the site. This data is used
				to improve the website services, to analyze trends, to administer
				the site, to track users' movements around the site and to gather
				demographic information about our user base as a whole. my2cents will
				not use the information collected to market directly to that
				person. This non-personally-identifiable information may be shared
				with third-parties to provide more relevant services and
				advertisements to Users. User IP addresses are recorded for
				security and monitoring purposes. <br>
				<br> In addition my2cents uses pixel tags - tiny graphic images -
				to tell us what parts of our website have been visited or to
				measure the effectiveness of searches customers perform on our
				site. Pixel tags also enable us to send email messages in a format
				that customers can read. And they tell us whether emails have been
				opened to assure that we're only sending messages that are of
				interest to our customers. my2cents stores all of this information in
				a secure database. <br>
				<br> User Profile information including Users' pictures and
				first names is displayed to people in order to facilitate user
				interaction in the my2cents social networking community. Users' full
				names are never directly revealed to other Users. <br>
				<br> my2cents may also use a user's email address to send
				updates, a newsletter or news regarding the service. my2cents may send
				email messages which use a "click-through URL" linked to content on
				the my2cents website. When a customer clicks one of these URLs, they
				pass through our web server before arriving at the destination web
				page. my2cents tracks this click-through data to help determine
				interest in particular topics and measure the effectiveness of our
				customer communications. If you prefer not to be tracked simply
				avoid clicking text or graphic links in the email.<br>
				<br> From time to time, my2cents or a partner may sponsor a
				promotion, sweepstake or contest on my2cents. Users may be asked to
				provide personal information including name, email address or home
				address or to answer questions in order to participate. my2cents may
				transfer personal information to certain ad partners that you have
				explicitly requested to receive information from. It will be clear
				at the point of collection who is collecting the personal
				information and whose privacy statement will apply. <br>
				<br> my2cents may also collect information for market research
				purposes to gain a better understanding of our customers and thus
				provide more valuable service. my2cents also collects information
				regarding customer activities on our website, and on related
				websites. This helps us to determine how best to provide useful
				information to customers and to understand which parts of our
				websites and Internet services are of most interest to them. <br>
				<br> In cases where you use a mobile device to access our
				sites or use or applications, we may receive information about the
				location of your device. We may use this information to develop,
				deliver, and improve our products, services, and other offerings. <br>
				<br>
			</p>
			<h4>USE OF COOKIES</h4>
			<p class="text-justify">
				my2cents uses cookies to store visitors' preferences and to record
				session information, for purposes including: (i) ensuring that
				visitors are not repeatedly offered the same advertisements, to
				customize newsletter, advertising, and Web page content based on
				browser type and user profile information; (ii) to help track usage
				to help us understand which parts of our website are the most
				popular, where our visitors are going, and how much time they spend
				there; (iii) to make usage of our website even more rewarding as
				well as to study the effectiveness of our customer communications,
				and (iv) to customize each visitor's experience and provide greater
				convenience. <br>
				<br> The cookies may reflect de-identified demographic or
				other data linked to data you voluntarily have submitted to us,
				e.g., your email address, that we may share with a data provider
				solely in hashed, non-human readable form. You may be able to
				configure your browser to accept or reject all or some cookies, or
				notify you when a cookie is set -- each browser is different, so
				check the "Help" menu of your browser to learn how to change your
				cookie preferences -- however, you must enable cookies from my2cents
				in order to use most functions on the site. Please note that my2cents
				allows third party advertisers that are presenting advertisements
				on some of our pages to set and access their cookies on your
				computer. Advertisers' use of cookies is subject to their own
				privacy policies, not the my2cents Privacy Policy. To Opt-Out of these
				cookies you may go to <b><a href="#">http://selectout.org</a></b> .
				<br>
				<br>
			</p>
			
			<h4>LINKS</h4>
			<p class="text-justify">
				my2cents contains links to third party websites. my2cents is not
				responsible for the privacy policies and/or practices on other
				sites. When linking to another site, a user should read the privacy
				policy stated on that site. Our privacy policy only governs
				information collected on my2cents. <br>
				<br>
			</p>
			
			<h4>CHAT ROOMS, PROFILES, MESSAGE BOARDS AND PUBLIC FORUMS</h4>
			<p class="text-justify">
				Please be aware that whenever you voluntarily post public
				information to Chat Rooms, Profiles, Message Boards or any other
				Public Forum, that information can be accessed by the public and
				can in turn be used by those people to send you unsolicited
				communications. TwoCents Inc. is not responsible for the personally
				identifiable information you choose to submit on my2cents. Please
				think before you post any personal information online.</p>
			<h4>USING SOCIAL FEATURES OF OUR APPLICATIONS</h4>
			<p class="text-justify">
				Our social features promote and facilitate interaction among our
				application users, such as by allowing our users to discuss a
				product or service. In order to protect the application users'
				privacy, we will only show you this information if they previously
				opted in to use the same social feature you are using.<br>
				<br> When you use any my2cents application, or feature at a site
				not controlled by my2cents, such as a social networking site ("SNS")
				like Facebook, that site may allow my2cents to access to certain
				information about you. You may also be required to read and accept
				the SNS's terms of service and privacy policy. By accessing a my2cents
				application through a SNS, you are authorizing my2cents to collect,
				store, and use in accordance with this Privacy Policy any and all
				information that you agreed the SNS could provide to my2cents through
				the SNS.<br>
				<br> The information you allow my2cents to access varies by
				application and SNS, and it is affected by the privacy settings you
				and your friends establish at the SNS. You can find out more about
				these settings at the SNS where you access our applications.<br>
				<br> If you choose (opt in) to use one of our social features,
				you may be asked to log into a SNS, such as Facebook, through our
				application. The SNS may provide my2cents with the following
				information: <br>
				<br> * Your SNS user ID.<br>
				<br> * Your profile picture or its URL (if available).<br>
				<br> * The user IDs and profile pictures of the people you are
				connected to on the SNS, such as your Facebook friends.<br>
				<br> * Contact information (such as your name and email
				address).<br>
				<br> * Demographic information (such as your gender and your
				date of birth).<br>
				<br> * Your physical location and that of your access devices.<br>
				<br> * Other information you provided to the SNS, such as
				occupation, interests, hobbies, music preferences, biographical
				information, and potentially any and all information that you
				agreed the SNS or other party could provide to us when you use our
				applications.<br>
				<br> We link this data to a user ID that my2cents assigns to you.
				When a SNS sends us the user IDs and profile pictures of your
				friends, we check to see which of your friends also have chosen to
				use the same my2cents social feature you selected. If your friends
				have not chosen to use our social features, we do not retain their
				user IDs or other information about them. If your friends have
				opted in to use the same social feature you selected, then we link
				that information to you so that you can enjoy my2cents's social
				features with those friends. We will update the list of friends
				linked to your user ID each time you log back into our social
				feature. <br>
				<br> While using my2cents social feature, you may be able to see
				your friends' profile pictures and their most recent use of the
				feature. Similarly, when your friends are using the feature, they
				may be able to see your profile picture and your most recent use of
				the feature. You may be able to invite your friends to join you in
				a social feature, such as by posting a message to your Facebook
				wall. You are never required to use my2cents's social features in
				order to use our applications.
			</p>
			
			<h4>CORRECTING/UPDATING OR REMOVING INFORMATION</h4>
			<p class="text-justify">
				my2cents Users may modify or remove any of the personal information
				contained in their Profile at any time by logging into their
				account and accessing features such as Edit Profile and Account
				Info.<br>
				<br> To manage the information my2cents receives about you from a
				SNS when you access one of our applications through the SNS, you
				will need to follow the instructions at that site for updating your
				information and changing your privacy settings at that SNS's site.
				Once my2cents receives your information from an SNS, that information
				is stored and used by my2cents in accordance with this Privacy Policy,
				and you may access and update that information as described in the
				above paragraph.
			</p>
			
			<h4>EMAIL CHOICE / OPT OUT</h4>
			<p class="text-justify">
				Users who no longer wish to receive updates or notifications
				may choose not to by opting-out. To opt-out, simply log-in to your
				Listener Account, click the "Edit Profile" link and select the "No"
				button next to "Receive PV Email Updates". All notification emails
				and my2cents newsletters also include the above instructions for
				opting-out of those communications in the future.</p>

			<h4>THIRD PARTY ADVERTISING</h4>
			<p class="text-justify">
				my2cents or one of our web-advertising partners may deliver ads
				appearing on my2cents to Users. Our web-advertising partners may set
				cookies. These cookies allow the ad server to recognize your
				computer each time they send you an online advertisement. In this
				way, ad servers may compile information about where you, or others
				who are using your computer, saw their advertisements and determine
				which ads are clicked on. This information allows an ad network to
				deliver targeted advertisements that they believe will be of most
				interest to you. This privacy statement covers only the use of
				cookies by my2cents and does not cover the use of cookies by any third
				party advertisers. Please be aware, however, that Google uses the
				DART cookie when delivering ads to our website. Users may opt out
				of the use of the DART cookie by visiting the Google ad and content
				network privacy policy.
			</p>
			
			<h4>SECURITY</h4>
			<p class="text-justify">
				my2cents user accounts are secured by user-created (as applicable)
				passwords. my2cents takes precautions to insure that account
				information is kept private. my2cents uses reasonable measures such as
				encryption to protect private information that is stored within our
				database against loss, theft, and misuse, as well as unauthorized
				access, disclosure, alteration, and destruction, and we restrict
				access to such private information to those employees who need
				access to perform their job functions, such as our customer service
				personnel and technical staff. Please note that my2cents cannot
				guarantee the security of Listener or Artist account information.
				Unauthorized entry or use, hardware or software failure, and other
				factors may compromise the security of member information at any
				time. Users are urged to also take precautions to protect their
				personal data by changing passwords often using a combination of
				letters and numbers, and using a secure web browser. For any
				additional information about the security measures my2cents uses on
				our website, please contact us at <b><a href="#">privacy@my2cents.reviews.</a></b>
			</p>
			
			<h4>SHARING AND DISCLOSURE OF INFORMATION My2Cents COLLECTS</h4>
			<p class="text-justify">
				Except as otherwise described in this Privacy Policy, my2cents will
				not disclose personal information to any third party unless believe
				that disclosure is necessary: (1) to conform to legal requirements
				or to respond to a subpoena, search warrant or other legal process
				received by my2cents, whether or not a response is required by
				applicable law; (2) to enforce the my2cents Terms and Conditions or to
				protect our rights; or (3) to protect the safety of members of the
				public and Users of the service. my2cents reserves the right to
				transfer personal information to a successor in interest that
				acquires rights to that information as a result of the sale of
				my2cents or substantially all of its assets to that successor in
				interest. For more information, see the "Changes in Our Privacy
				Policy" section below. my2cents takes your privacy very seriously.
				my2cents does not sell or rent your contact information to other
				marketers. To help us provide superior service, your personal
				information may be shared with TwoCents Inc., who will safeguard it
				in accordance with my2cents's privacy policy. There are also times
				when it may be advantageous for my2cents to make certain personal
				information about you available to companies that my2cents has a
				strategic relationship with or that perform work for my2cents to
				provide products and services to you on our behalf. These companies
				may help us process information, deliver products to you, manage
				and enhance customer data, provide customer service, assess your
				interest in our products and services, or conduct customer research
				or satisfaction surveys. These companies are also obligated to
				protect your personal information in accordance with my2cents's
				policies. Without such information being made available, it would
				be difficult for you to purchase products, have products delivered
				to you, receive customer service, provide us feedback to improve
				our products and services, or access certain services, offers, and
				content on the my2cents website.<br>
				<br> We may also share information about you with your SNS
				contacts when you and they use the same social features of our
				applications.
			</p>
			
			<h4>PRIVACY OF CHILDREN</h4>
			<p class="text-justify">
				my2cents is not directed to children under the age of 13. We
				operate our site in compliance with the Children's Online Privacy
				Protection Act of 1998, and do not permit registration by, and will
				not knowingly collect or use personally identifiable information
				from, anyone under 13 years of age. This requirement is clearly
				posted during the registration process.
			</p>
			
			<h4>CHANGES IN OUR PRIVACY POLICY</h4>
			<p class="text-justify">
				From time to time my2cents may make changes to our Privacy
				Policy. If we make changes, we will post them on our site to make
				Users aware of what the changes are so Users will always be aware
				of what information we collect, how we use it, and when we may
				disclose it. A User is bound by any minor changes to the Privacy
				Policy when she or he uses the site after those changes have been
				posted If, however, we are going to use Users' personally
				identifiable information in a manner materially different from that
				stated at the time of collection we will notify by posting a notice
				on my2cents for 30 days.
			</p>
			
			<h4>CONTACTING THE WEB SITE</h4>
			<p class="text-justify">
				If you have any questions about this Privacy Policy, the practices
				of this site, or your dealings with this site, please contact us
				at: <b><a href="#">privacy@my2cents.reviews.</a></b> Physical inquiries
				can be sent to the following address:<br />
				<br /> TwoCents, Inc.<br /> 2 Gold St, apt 2012<br />
				NewYork, NY 10038<br />
			</p>
		</div>
	</ion-content>
	<div ng-include src="'templates/partial/footer.html'"></div>
</ion-view>