<div ng-include src="'templates/partial/header.html'"></div>
<ion-view title=''>
    <ion-content class="has-footer">
		<div class="page-content padding">
			<h2>Terms of Service - my2cents.reviews</h2>
			<h4>Revised as of March 30, 2015</h4>
			<p class="text-justify">
				THE WEBSITE my2cents.reviews (THE "SITE") AND RELATED PLATFORMS, PRODUCTS,
				AND SERVICES AVAILABLE ON OR FROM THE SITE (THE "SERVICES") ARE
				OWNED AND OPERATED BY TWOCENTS INC. D/B/A REVERBNATION (TOGETHER
				WITH ITS AFFILIATES, SUCCESSORS, AND ASSIGNS HEREINAFTER REFERRED
				TO AS "OUR", "WE," OR "US").<br>
				<br> BY ACCESSING AND USING THE SITE AND THE SERVICES, YOU
				ACKNOWLEDGE AND AGREE TO BE BOUND BY THESE GENERAL TERMS AND
				CONDITIONS, OUR COPYRIGHT POLICY, OUR PRIVACY POLICY, OUR TRADEMARK
				POLICY AND OUR SPECIFIC TERMS AND CONDITIONS APPLICABLE TO CERTAIN
				SERVICES YOU MAY ELECT TO USE (ALL OF WHICH ARE INCORPORATED HEREIN
				AND COLLECTIVELY REFERRED TO AS THE "TERMS AND CONDITIONS", WHICH
				SET FORTH THE ENTIRE AGREEMENT PERTAINING TO YOUR USE OF THE SITE
				AND SERVICES, AND SUPERSEDE ALL PRIOR VERSIONS OF THE TERMS AND
				CONDITIONS).<br>
				<br> THESE TERMS AND CONDITIONS ARE LEGALLY BINDING
				AGREEMENTS. IF YOU USE THE SITE AND THE SERVICES ACTING AS THE
				REPRESENTATIVE FOR AN ARTIST, BAND, GROUP, COMPANY, OR ENTITY, YOU
				REPRESENT THAT YOU HAVE THE LEGAL AUTHORITY TO BIND SUCH INDIVIDUAL
				OR ENTITY AND YOU GUARANTEE COMPLIANCE BY SUCH INDIVIDUAL OR ENTITY
				WITH THESE TERMS AND CONDITIONS.<br>
				<br> WE RESERVE THE SOLE RIGHT AT ANY TIME TO MODIFY,
				DISCONTINUE, OR TERMINATE ANY SERVICE OR THE SITE, OR CHANGE, ADD,
				OR DELETE PORTIONS OF THESE TERMS AND CONDITIONS WITHOUT NOTICE. WE
				WILL POST CHANGES TO THESE TERMS AND CONDITIONS, IF ANY, TO THE
				SITE. IT IS YOUR RESPONSIBILITY TO CHECK THE SITE PERIODICALLY FOR
				CHANGES. YOUR CONTINUED USE OF THE SITE AND SERVICES AFTER ANY
				CHANGES CONSTITUTES YOUR ACCEPTANCE OF THE REVISED TERMS AND
				CONDITIONS.<br>
				<br> IF YOU DO NOT AGREE TO THESE TERMS AND CONDITIONS, DO NOT
				USE THE SITE OR SERVICES.
			</p>
			<h4>1. USE OF SITE AND SERVICES:</h4>
			<p class="text-justify">
				(a) Age Restriction. The Site and Services are intended for use by
				persons 18 years of age or older. The Site and Services are not
				intended for children under the age of 13. Children under the age
				18 but at least 13 years of age may use the Site and Services only
				with the verifiable consent of a parent or legal guardian who has
				agreed to be bound by these Terms and Conditions. SOME AREAS OF THE
				SITE MAY CONTAIN MATERIAL THAT IS INAPPROPRIATE FOR MINORS.<br>
				<br> (b) Site Content Ownership. All materials and content on
				the Site and Services, including User Content (defined in Section
				3(a) below), (collectively, the "Site Content") are the proprietary
				property of us or our licensors (including other users of the
				Site), including respective copyrights, logos, slogans, trademarks,
				and service marks. As between you and us, you shall retain all
				rights in your User Content subject to the licenses granted in
				these Terms and Conditions.<br>
				<br> (c) Site and Services Use License. Subject to these Terms
				and Conditions and only to the extent expressly permitted by the
				functionality of the Site and Services, you are granted a limited,
				non-exclusive, revocable, non-assignable, and non-transferable
				right to use the Site and Services and access and interact with
				Site Content. Except with respect to your use of certain Services
				in accordance with their specific terms and conditions that provide
				for or facilitate commercial activities, you understand that the
				Site and Site Content is for your personal and non-commercial use
				only. Except as expressly permitted by these Terms and Conditions,
				the functionality of the Site, or your own use of your User Content
				(i) no Site Content may be modified, copied, distributed, framed,
				reproduced, republished, downloaded, displayed, posted,
				transmitted, sold, or otherwise used in any form or by any means,
				in whole or in part, and (ii) nothing herein should be construed as
				granting any license or right to use any Site Content, including
				trademarks, service marks, logos, slogans or taglines of us or
				third parties, or any software or code relating to the Site or
				Services.<br>
				<br> (d Abuse and Infringement. You agree that you will not
				use the Site or Services in any manner that is abusive, fraudulent,
				or unlawful, that infringes the copyright, trademark, or other
				intellectual property rights of any person or entity, that is
				inconsistent with these Terms and Conditions, or that could damage,
				disable, overburden or impair the Site or Services, in each case as
				determined in our sole discretion. Without limitation, you agree,
				represent, and warrant that:<br>
				<br> (i) You will use the Site and Services in compliance with
				all applicable laws;<br>
				<br> (ii) You will not use the Site or Services to infringe
				the copyright, trademark, or other intellectual property rights of
				any person or entity;<br>
				<br> (iii) You will not harvest or collect email addresses or
				other contact information of other Site users by electronic or
				other means for the purposes of sending unsolicited emails or other
				unsolicited communications;<br>
				<br> (iv) You will not use automated scripts to collect
				information from, access, or otherwise interact with the Site;<br>
				<br> (v) You will not upload, post, email, transmit or
				otherwise make available any content that we deem to be harmful,
				threatening, abusive, harassing, vulgar, obscene, hateful, or
				racially, ethnically, or otherwise objectionable;<br>
				<br> (vi) You will not impersonate any person or entity, or
				falsely state or otherwise misrepresent yourself or your
				affiliation with any person or entity;<br>
				<br> (vii) You will not upload, post, email, transmit or
				otherwise make available any unsolicited or unauthorized
				advertising, promotional materials, "junk mail," "spam," "chain
				letters," "pyramid schemes," or any other form of solicitation;<br>
				<br> (viii) You will not use "spam," "blast-faxes," or
				recorded telephone messages to market or promote any materials
				relating to you on the Site or in connection with the Services;<br>
				<br> (ix) You will not use third party services which are
				marketed or used to artificially increase your Band Equity Score,
				or Chart Position/Ranking through the purchase of "Likes", "Fans",
				"Follower", or "Song Plays", or "Video Plays". Use of these
				services, or similar services, will result in the immediate
				termination of your account.<br>
				<br> (x) You will not upload, post, email, transmit, or
				otherwise make available any material that contains software
				viruses or any other computer code, files or programs designed to
				interrupt, destroy or limit the functionality of any computer
				software or hardware or telecommunications equipment;<br>
				<br> (xi) You will not use the Site or Services to solicit,
				advertise, provide, sell, or offer, similar or competing products
				or services;<br>
				<br> (xii) You will not solicit Site users to register or sign
				up with another website, platform, or other service or entity;<br>
				<br> (xiii) You will not use or attempt to use another user's
				account without authorization from us or create a false identity
				using the Site or Services;<br>
				<br> (xiv) You will not, directly or indirectly, reverse
				engineer, decompile, disassemble, or otherwise attempt to discover
				the source code, object code, or underlying structure, ideas, or
				algorithms of, or found at or through, the Site or Services or any
				software, documentation, or data related to the Site or Services;
				and<br>
				<br> (xv) You will not remove any proprietary notices or
				labels from the Site or Services or modify, translate, or create
				derivative works based on the Site or Services.<br>
				<br>
			</p>
			<h4>2. REGISTRATION:</h4>
			<p class="text-justify">
				(a) In order to use certain parts of the Site and Services, you
				must register as a user and create an account on the Site. As part
				of the registration process, you will provide a username, password,
				email address, and other information and materials (the
				"Registration Information") for your Site account. You may also be
				able to register as a user of the Site with certain third-party
				social networking sites (e.g., Facebook, Twitter, YouTube, etc.) (a
				"Third-Party Account"), and in connection therewith, you allow us
				to access, store, and use content or information relating to your
				Third-Party Account, and any content or information in your
				Third-Party Account used on the Site or with the Services shall be
				"Registration Information" hereunder. We may accept or reject your
				user registration in our sole discretion.<br>
				<br> (b) You alone are responsible for maintaining the
				security of your Registration Information and for all uses of the
				Site and Services in the name of your account. Upon registration,
				you will have a "Dashboard" page on the Site where you can manage
				your use of the Site and Services (your "Dashboard").<br>
				<br> (c) You represent and warrant that all Registration
				Information will be true, accurate, complete, and current and that
				you will promptly update your Registration Information as necessary
				such that it is, at all times, true, accurate, complete, and
				current. We may use all Registration Information in accordance with
				our Privacy Policy.<br>
				<br> (d) You are responsible for maintaining access to the
				email address associated with your account. We are unable to
				restore access to your account if you lose access to the email
				address associated with the account.<br>
				<br> (e) You are responsible for keeping your account active.
				If a user does not log in to an account for six (6) months or more
				from the date of the last log in, the account may be considered
				inactive. Inactive accounts may be permanently removed without
				notice.<br>
				<br>
			</p>
			<h4>3. CONTENT SUBMITTED BY YOU:</h4>
			<p class="text-justify">
				(a) User Content.<br>
				<br> (i) You are solely responsible for all materials and
				content that are submitted by you or through your account for
				posting, publication, display, distribution, performance, or other
				use on the Site or in connection with any Service, including
				without limitation, music, sound recordings, musical works,
				compositions, videos, photographs, pictures, graphics, names,
				likenesses, images, copyrights, trademarks, service marks, logos,
				biographical information, chat, messages, files, code, data,
				metadata, text, software, links, your Registration Information,
				content from your Third-Party Account, and any other information or
				materials ("User Content").<br>
				<br> (ii) We are not responsible for any User Content that may
				be lost or unrecoverable through your use of the Site or Services,
				and you are encouraged to archive your User Content regularly and
				frequently.<br>
				<br> (iii) You must submit User Content to the Site and
				Services in compliance with our submission specifications. Our
				submission specifications are available in your Dashboard or
				otherwise on the Site. We reserve the right to refuse to accept
				and/or cause the removal of any User Content for any reason and at
				our sole discretion and without notice to you.<br>
				<br> (iv) As between you and us, and subject to our rights in
				these Terms and Conditions, you shall retain all rights in the User
				Content and nothing in these Terms and Conditions shall constitute
				a transfer to us of ownership of any User Content.<br>
				<br> (v) You hereby acknowledge and agree that we may, at our
				sole discretion, disclose User Content in order to: (A) comply with
				law enforcement, court orders, or the legal process; (B) protect
				the rights and safety of individuals; or (C) settle disputes over
				intellectual property ownership. You understand and agree that in
				connection with the rights granted herein, we have the right, but
				no obligation, to remove, monitor, market, promote, advertise, or
				otherwise use your User Content.<br>
				<br> (b) Licenses to User Content.<br>
				<br> (i) By submitting User Content to the Site or in
				connection with any Service, you automatically grant to us a
				non-exclusive, transferable, royalty free, license throughout the
				universe, and in any manner and media now known or hereafter
				developed, to prepare, review, copy, reproduce, convert, host,
				distribute, transmit, stream, publicly perform, display, modify,
				adapt, excerpt (in whole or in part), publish, promote, advertise,
				market, create derivative works from, and otherwise use all or any
				portion of the User Content, and to grant and authorize sublicenses
				of the foregoing, in connection with the Site and Services and the
				functionality thereof; provided, however, we will not sell or
				otherwise commercially distribute for a fee User Content except in
				connection with your express use of a Service that provides such
				functionality. Except as may be specifically provided in connection
				with any particular Service, we have no obligation to pay you or
				anyone else any amounts, including record or publishing royalties,
				performance fees, license fees, or union, guild, or collective
				bargaining fees, for the distribution, public performance, or other
				uses of your User Content as authorized in these Terms and
				Conditions.<br>
				<br> (ii) The foregoing grant of rights includes, without
				limitation, our right to (but not obligation to):<br>
				<br> A. use User Content, including names, pictures,
				likenesses, images, voices, performances, biographical materials,
				and web links to websites that you control, in each case in
				connection with marketing, advertising, or promoting User Content,
				the Site, the Services, or us;<br>
				<br> B. submit or transmit User Content to third parties in
				connection with any applicable Services you elect to use in any
				format (e.g., MP3, streaming, or otherwise) in accordance with the
				functionality of such Service;<br>
				<br> C. submit or transmit User Content for review through our
				Crowd Review Service (our service that provides for the review of
				music by a by a community of real music listeners), at our election
				and without notice, provision of feedback, or cost to you;
				provided, however, that notwithstanding the forgoing, you agree to
				pay any applicable Service Fees to the extent you affirmatively
				elect to use the Crowd Review Service;<br>
				<br> D. display any and all lyrics associated with a musical
				composition embodied in User Content in connection with the Site or
				Services;<br>
				<br> E. edit or modify User Content in our sole discretion in
				connection with the Site or Services and without any approval
				rights by you; and<br>
				<br> F. publicly perform and transmit your sound recordings
				and musical compositions in connection with the Site or Services,
				including, but not limited to, by interactive and non-interactive
				streaming on the Site. If you have affiliated with a performance
				rights organization ("PRO") with respect to your public performance
				rights, such as BMI, ASCAP, or SESAC, then you may be prohibited
				from granting the same rights to us, or a grant of public
				performance rights to us may prevent a PRO from collecting
				royalties on your behalf. In certain situations a PRO may require
				that you provide the PRO with notice if you are granting public
				performance rights to another party. If you have an agreement with
				a PRO that includes such a provision, you are solely responsible
				for providing such notice to the PRO. You understand that no fees
				or payment of any kind whatsoever shall be due to any PRO or music
				publisher for use of your User Content as authorized in these Terms
				and Conditions.<br>
				<br> (iii) Certain functionality of the Site and certain
				Services allow you to make User Content, such as your music,
				available to be downloaded from our Site, and by using such
				features, you automatically grant to end users an irrevocable,
				perpetual, non-exclusive, transferable, royalty free, license
				throughout the universe to use such Site Downloads but only for
				personal, noncommercial use and in accordance with the Site
				Downloads Usage Rules in Section 1(d) above.<br>
				<br> (iv) The grant of rights in this Section 3(b) will
				survive your removal of User Content from the Site, the termination
				of your use of the Site or Service, or any other termination of
				these Terms and Conditions unless we receive written notice of
				termination of this license from you, at which point this license
				will expire and we will stop using the specified User Content
				within thirty (30) days; provided, however, that with respect to
				Site Downloads, the grant of rights to end users will survive your
				removal of such User Content from the Site indefinitely.<br>
				<br> (c) Without limitation of the rights granted herein, we
				and you may enter into additional agreements to confirm the rights
				granted herein, expand scope of rights granted to us, or otherwise
				with respect to the User Content, and to the extent such other
				agreements conflict with these Terms and Conditions, the terms of
				such other agreements shall control.<br>
				<br> (d) Representations and Warranties. By submitting User
				Content to the Site or in connection with any Service, you
				acknowledge, represent, and warrant that:<br>
				<br> (i) you own or control all necessary rights in and to the
				User Content, and you have the full right and authority to grant
				the rights, licenses, and permissions in these Terms and
				Conditions;<br>
				<br> (ii) the exercise of the rights granted by you herein
				shall not violate any laws or otherwise infringe upon the rights of
				any person or entity, including copyright, trademark, privacy,
				publicity, or other personal or proprietary rights, or contain
				libelous, defamatory or otherwise unlawful materials;<br>
				<br> (iii) the exercise of the rights granted by you herein
				shall be without any obligation to make any payment of any nature
				to you (except as expressly provided in connection with any
				Service) or any other person or entity;<br>
				<br> (iv) to the extent that you receive payments from us in
				connection with any Service, you acknowledge and agree that any
				such payments to you are inclusive of all payments otherwise due to
				any person or entity; and<br>
				<br> (v) to the extent you do not own any underlying musical
				compositions, sound recordings, samples, publicity rights, or other
				materials or content in your User Content, it is your obligation to
				secure all appropriate permissions, clearances, licenses, or other
				authorizations and agreements, and, as applicable, to pay directly
				all third-party fees and royalties as may be required, including,
				but not limited to, with respect to artists, band members, authors,
				co-authors, copyright owners and co-owners, publishers, producers,
				or any other person who performed in the making of your User
				Content, and in connection with mechanical royalties, digital
				phonograph delivery royalties, public performance royalties,
				payments that may be required under any collective bargaining
				agreements or statutory schemes, or any other royalties, fees,
				and/or sums payable with respect to your User Content, and at our
				request you shall provide us with confirmation of such
				authorizations and payments.<br>
				<br>
			</p>
			<h4>4. INDEMNIFICATION:</h4>
			<p class="text-justify">You agree to fully indemnify and hold us and our
				subsidiaries, affiliates, directors, officers, agents, contractors,
				partners, affiliates, employees, contractors, co-branders,
				advertisers, and other partners (collectively, the "Related
				Parties") harmless, and upon our request, defend us and/or the
				Related Parties, from and against any and all losses, liabilities,
				damages, claims, costs, expenses, or demands (including reasonable
				attorneys' fees and costs), due to or arising out of (i) your use
				of the Site or Services; (ii) your violation or breach of any
				representation, warranties or other terms in these Terms and
				Conditions; (iii) your violation of any rights of any third party;
				and (iv) any dispute between you and any other user of the Site or
				Services. Without limitation, you agree to reimburse us and our
				Related Parties on demand for any payments made in resolution of
				any liability or claim that is subject to indemnification under
				this Section. We shall promptly notify you of any such claim, and
				you may assume control of the defense of such claim with counsel
				subject to our reasonable approval, provided that you obtain and
				post an appropriate bond for our benefit, and we shall have the
				right in all events to participate in the defense thereof. In
				accordance with Section 7(c) below, if a claim is made we will have
				the right to withhold payment of any monies due you in an amount
				reasonably related to the claim and potential expenses. Your sole
				remedy as a result of any breach or alleged breach by us of these
				Terms and Conditions or other applicable terms and conditions or
				agreements is limited to your ability to discontinue use of the
				Site and your ability to terminate your participation in any
				Services in accordance with the terms thereof.</p>
			<h4>5. LIMITATIONS AND DISCLAIMERS:</h4>
			<p class="text-justify">
				<b>THE SITE, THE SERVICES, AND THE CONTENT THEREON ARE PROVIDED
					ON AN "AS-IS" AND "AS AVAILABLE" BASIS. WE MAKE NO, AND EXPRESSLY
					DISCLAIM ANY AND ALL, WARRANTIES, WHETHER EXPRESS OR IMPLIED,
					INCLUDING WITHOUT LIMITATION IMPLIED WARRANTIES OF TITLE,
					MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR
					NON-INFRINGEMENT. WE CANNOT GUARANTEE AND DO NOT PROMISE ANY
					SPECIFIC RESULTS FROM USE OF THE SITE AND/OR THE SERVICES. </b>Without
				limiting the foregoing:<br>
				<br> (a) We and the Related Parties are not responsible for
				any incorrect or inaccurate information in the Site Content. We and
				the Related Parties are not responsible for the content of,
				accuracy of, or statements or opinions expressed by third parties
				in any Site Content, including any User Content or in
				advertisements or solicitations. We are not responsible for the
				conduct, whether online or offline, of any user of the Site. Site
				Content is not investigated, monitored, or checked for accuracy or
				completeness by us. We do not make editorial decisions related to
				User Content. Inclusion of any Site Content, including links to
				other websites, does not imply approval or endorsement of the Site
				Content by us.<br>
				<br> (b) Your interactions with organizations and/or
				individuals found on or through the Site or Services, including
				payment and delivery of goods or services, and any other terms,
				conditions, warranties or representations associated with such
				dealings, are solely between you and such organizations and/or
				individuals. You agree that we and the Related Parties shall not be
				responsible or liable for any loss or damage of any sort incurred
				as the result of any such dealings. If there is a dispute between
				you and any third party, you understand and agree that we are under
				no obligation to become involved.<br>
				<br> (c) You understand the speculative nature of the music
				industry, and we make no guarantees whatsoever with respect to the
				marketing, promotion, acceptance, development, or popularity of
				you, your band, your music, or otherwise in connection with your
				use of the Site or Services; and we further make no guarantees
				whatsoever that any materials you create or distribute using our
				Site or Services, including your music, will achieve any results or
				be purchased or otherwise used by any third party.<br>
				<br> (d) The Site and the Services may be temporarily
				unavailable from time to time for maintenance or other reasons. We
				are not responsible for any error, omission, interruption,
				deletion, defect, delay in operation or transmission,
				communications line failure, theft or destruction or unauthorized
				access to, or alteration of, the Site or the Services. We are not
				responsible for any problems or technical malfunction of any
				telephone network or lines, computer online systems, servers or
				providers, computer equipment or software, or the failure of email
				on account of technical problems or traffic congestion on the
				Internet or at any web site or blocking from the destination mail
				servers, including injury or damage to any person's computer
				related to or resulting from participating or downloading materials
				in connection with the Site or the Services. Under no circumstances
				will we be responsible for any loss or damage, including personal
				injury or death, resulting from anyone's use of the Services, the
				Site, or any Site Content.<br>
				<br> (e) By using the Site and/or Services, you hereby release
				us and the Related Parties from claims, demands, and damages
				(actual and consequential) of every kind or nature, known or
				unknown, suspected and unsuspected, disclosed and undisclosed,
				arising out of or in any way related to your use of the Site and/or
				Services. If you are a California resident, you represent that you
				are familiar with Section 1542 of the California Civil Code and you
				hereby waive and relinquish any right and benefit to which you may
				have under Section 1542 to the full extent that you may lawfully do
				so in connection with the subject matter hereof. Section 1542
				states:<br>
				<br> <b>A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH
					THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR
					AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER
					MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE
					DEBTOR.<br>
				<br> (f) IN NO EVENT WILL WE AND THE RELATED PARTIES BE LIABLE
					TO YOU FOR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL,
					SPECIAL, OR PUNITIVE DAMAGES, INCLUDING DAMAGES FOR ANY LOST
					PROFITS AS A RESULT OF YOUR USE OF THE SITE OR SERVICES, EVEN IF
					WE ARE AWARE OR HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH
					DAMAGES.<br>
				<br> (g) NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED
					HEREIN, IN NO EVENT WILL THE AGGREGATE OF OUR AND THE RELATED
					PARTIES' LIABILITY TO YOU FOR ANY CAUSE, LOSS, COST, DAMAGE, OR
					CLAIM WHATSOEVER, INCLUDING ATTORNEYS' FEES AND COSTS AND EXPERT
					WITNESS FEES AND COSTS, AND REGARDLESS OF THE FORM OF THE ACTION,
					EXCEED THE LESSER OF: (A) THE AMOUNT PAID, IF ANY, BY YOU TO US
					FOR THE SERVICES FOR THE PRECEDING THREE (3) MONTHS; AND (B) TWO
					HUNDRED FIFTY DOLLARS ($250.00 U.S.). YOU AGREE THAT THIS
					LIMITATION OF LIABILITY REPRESENTS A REASONABLE ALLOCATION OF
					RISK. THIS ALLOCATION OF RISK AND THE DISCLAIMER OF WARRANTIES
					HEREIN ARE A FUNDAMENTAL ELEMENT OF THESE TERMS AND CONDITIONS.
				</b><br>
				<br>
			</p>
			
			<h4>6. CONFIDENTIALITY:</h4>
			<p class="text-justify">You acknowledge and agree that in the course of using certain
				Services you may become aware of certain otherwise confidential
				information related to our business and business practices. Except
				to the extent that such information is otherwise generally
				available to third parties or is required to be divulged by
				operation of law, you agree to keep such information confidential.
			</p>
			
			<h4>7. USAGE DATA:</h4>
			<p class="text-justify">We may collect certain tracking and usage data generated or
				provided by users who visit or interact with your profile on the
				Site, or by users of products or other materials distributed in
				connection with your use of certain Services, including, but not
				limited to, personally identifiable information ("Usage Data"). We
				may provide all or part of the Usage Data to you. You agree to
				comply with all applicable laws with regard to your use of Usage
				Data. You will not transfer or disclose any Usage Data to any third
				party. We are not responsible for the accuracy of Usage Data, and
				we disclaim any and all liability relating thereto.</p>
			<h4>8. TERMINATION:</h4>
			<p class="text-justify">
				(a) You may terminate your use of the Site at any time. You may
				terminate these Terms and Conditions with respect to any Service
				provided you have paid all applicable Service Fees by effecting a
				termination from your Dashboard.<br>
				<br> (b) We may cancel your user registration and terminate
				your use of the Site or Services at any time with or without cause,
				in our sole discretion, and with or without notice, including for
				your failure to make any payment when due or your breach of your
				representations, warranties, and covenants in these Terms and
				Conditions; provided, however, that we have no obligation to
				monitor your use of the Site or Services.<br>
				<br> (c) We may delete any of your User Content, information,
				or other data from the Site or Services at any time, and we have no
				obligation to maintain copies of any deleted information.<br>
				<br> (d) Any provisions of these Terms and Conditions that by
				their nature should continue after termination of your use of the
				Site or any Services will continue to apply even after the
				expiration or termination of these Terms and Conditions or your use
				of the Site or any Services.<br>
				<br>
			</p>
			<h4>9. GOVERNING LAW:</h4>
			<p class="text-justify">These Terms and Conditions shall be governed by and construed
				in accordance with the laws of the State of North Carolina, U.S.A.,
				without reference to conflicts of laws provisions and, as to
				matters affecting copyrights, trademarks and patents, by U.S.
				federal law. Those who use the Site or Services from other
				jurisdictions do so at their own volition and are responsible for
				compliance with local laws. Any dispute or claim arising out of, or
				in connection with, these Terms and Conditions shall be finally
				settled by binding arbitration in Raleigh, North Carolina, in
				accordance with N.C. Gen. Stat. § 1-569.1 et seq. (the "Revised
				Uniform Arbitration Act") and the then-current rules and procedures
				of the American Arbitration Association by one (1) arbitrator
				appointed by the American Arbitration Association. The arbitrator
				shall apply the law of the State of North Carolina, without
				reference to rules of conflict of law or statutory rules of
				arbitration, to the merits of any dispute or claim. Judgment on the
				award rendered by the arbitrator may be confirmed, reduced to
				judgment and entered in any court of competent jurisdiction. You
				agree that, any provision of applicable law notwithstanding, the
				arbitrator shall have the authority to award the prevailing party
				its costs and reasonable attorneys' fees. The arbitration can
				resolve only your and/or our individual claims, and the arbitrator
				shall have no authority to entertain or arbitrate any claims on a
				class or representative basis, or to consolidate or join the claims
				of other persons or parties who may be similarly situated. In the
				event that the forgoing arbitration provision is held invalid or
				unenforceable, then any dispute with respect to these Terms and
				Conditions shall be brought and heard either in the North Carolina
				state courts located in Wake County, North Carolina, or the federal
				district court for the Eastern District of North Carolina located
				in Raleigh, North Carolina. In such event, you consent to the in
				personam jurisdiction and venue of such courts. You agree that
				service of process upon you in any such action may be made if
				delivered in person, by courier service, by telegram, by facsimile
				or by first class mail, and shall be deemed effectively given upon
				receipt.</p>
			<h4>10. MISCELLANEOUS:</h4>
			<p class="text-justify">If any provision of these Terms and Conditions is held
				invalid or unenforceable, such provision shall be revised to the
				extent necessary to cure the invalidity or unenforceability, and
				the remainder of these Terms and Conditions shall continue in full
				force and effect. Nothing in these Terms and Conditions shall be
				deemed to confer any third-party rights or benefits. These Terms
				and Conditions, and any rights and licenses granted hereunder, may
				not be transferred or assigned by you, but may be assigned by us
				without restriction. Our delay or failure to exercise any right or
				provision of these Terms and Conditions shall not constitute a
				waiver of such right or provision. These Terms and Conditions do
				not, and shall not be deemed to, constitute a partnership or joint
				venture between you and us, and neither you nor we, nor your or our
				respective directors, officers, employees, or agents shall, by
				virtue of the performance of the obligations under these Terms and
				Conditions, be deemed to be an agent or employee of the other, and
				neither you nor we has the authority to bind the other under any
				contract, agreement, or otherwise.</p>
			<h4>11. NOTICES:</h4>
			<p class="text-justify">
				All notices required by these Terms and Conditions shall be in
				writing and shall be sent (i) by you via your Dashboard, (ii) by us
				via your Dashboard or your email address of record; and notice
				shall be effective on the date it is officially recorded as
				delivered by return receipt or equivalent.<br>
				<br> For questions regarding these Terms and Conditions,
				please contact <b>support@my2cents.reviews</b>
			</p>
		</div>
</ion-content>
<div ng-include src="'templates/partial/footer.html'"></div>
</ion-view>