<ion-modal-view class="grey-background">
    <ion-content class="padding" ng-controller="RequestReviewCtrl">
        <div class="list card card-wrapper">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Title<span class="assertive"> *</span></span>
                <input type="text">
            </label>
            <label class="item item-input item-select">
                <span class="input-label">Category<span class="assertive"> *</span></span>
                <select>
                    <option>Select</option>
                    <option>Apparel</option>
                    <option>Auto</option>
                    <option>Books</option>
                    <option>Electronics</option>
                    <option>Hotels</option>
                    <option>Lifestyle</option>
                    <option>Movies</option>
                    <option>Music</option>
                    <option>Restaurants</option>
                    <option>Services</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Request Details<span class="assertive"> *</span></span>
                <textarea placeholder="" rows="2"></textarea>
            </label>
            <ul class="list">
                <ion-radio ng-model="selectedOption" value="1" ng-change="selectTypeChange()">Select Group</ion-radio>
                <ion-radio ng-model="selectedOption" value="2" ng-change="selectTypeChange()">Search Recepients</ion-radio>
                <li class="item item-select">
                    <select ng-show="showGroup">
                        <option>Select</option>
                        <option>Mobile App</option>
                        <option>Python</option>
                    </select>
                    <input type="text" ng-hide="showGroup">
                </li>
            </ul>
            <div class="text-center">
                <button class="button button-positive modal-btn ">
                    Submit
                </button>
                <button class="button button-light modal-btn " ng-click="modal.hide()">
                    Cancel
                </button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>