<div class="bar bar-subheader" ng-controller="SettingsCtrl as settingsCtrl">
    <div class="button-bar">
        <a href="#" ng-click="settingsCtrl.showWriteReviewModal()" class="button button-positive button-clear ion-ios-compose"></a>
        <a href="#" ng-click="settingsCtrl.showRequestReviewModal()" class="button button-positive button-clear ion-ios-chatboxes"></a>
        <a href="#" ng-click="settingsCtrl.showManageGroupsModal()" class="button button-positive button-clear ion-ios-people"></a>
      </div>
</div>